<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hldj.hmyg"
    android:versionCode="94"
    android:versionName="4.0.2_1">


    <!-- android:versionCode="93"
    android:versionName="4.0.2">-->

    <!--     android:versionCode="92"
        android:versionName="4.0.1"> -->
    <!-- android:versionCode="91"
    android:versionName="4.0.0_release">-->

    <!--

       android:versionCode="90"
    android:versionName="3.0.6release_fix6">

    -->
    <!--    android:versionCode="89"
    android:versionName="3.0.6release_fix5">   小视频版本-->

    <!--android:versionCode="88"
    android:versionName="3.0.6release_fix4">-->

    <!--android:versionCode="87"
    android:versionName="3.0.6release_fix3"-->

    <!--    android:versionCode="86"
    android:versionName="3.0.6release_fix2">-->

    <!--android:versionCode="85"-->
    <!--android:versionName="3.0.6release_fix1">-->

    <!-- android:versionCode="84"
    android:versionName="3.0.6release">-->

    <!--  android:versionCode="83"
    android:versionName="3.0.5beta1">
    -->

    <!--android:versionCode="72"    测试补丁版本-->
    <!--android:versionName="2.1.0_test">-->

    <!--2.1.1.73-->
    <!--    android:versionCode="83"
    android:versionName="3.0.5release">-->

    <!--    android:versionCode="82"
    android:versionName="3.0.5bete3">-->

    <!--  android:versionCode="81"
    android:versionName="3.0.5bete2">-->

    <!--android:versionCode="80"-->
    <!--android:versionName="3.0.5bete1">-->

    <!--android:versionCode="79"-->
    <!--android:versionName="3.0.5">-->

    <!--android:versionName="3.0.5">-->

    <!--   android:versionCode="78"-->

    <!--android:versionCode="74"-->
    <!--android:versionName="3.0.2" -->

    <!--发布时version code  记得加 1 -->

    <!--android:versionCode="73"-->
    <!--android:versionName="2.1.1">-->

    <!--android:versionName="2.0.43"  2.1.0-->
    <!--<uses-sdk-->
    <!--android:minSdkVersion="14"-->
    <!--android:targetSdkVersion="25"-->
    <!--tools:overrideLibrary="android.support.v7.appcompat" />-->

    <!--广播中弹窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!--广播中弹窗 -->


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.
        autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- Required -->
    <permission
        android:name="com.hldj.hmyg.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />


    <!--麦克风 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <!-- 通讯录 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <!-- 通讯录 -->


    <!-- Required -->
    <uses-permission android:name="com.hldj.hmyg.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 需要申明的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- bugly tencent -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 可选的权限 -->
    <!-- 使用GPS获取用户精确定位信息 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission> -->
    <!-- testin -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--  -->
    <!-- fir.im http://bughd.com/必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--tools:replace="icon, label， theme"-->
    <!--tools:replace="android:icon, android:theme"-->
    <!--  android:theme="@style/NoActionBarThemeWhite"-->
    <application
        android:name="com.hldj.hmyg.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme">
        <!--<item name="android:windowAnimationStyle">@style/activityAnimation</item>-->
        <!--xmlns:tools="http://schemas.android.com/tools"  tools:replace="android:icon, android:theme  "-->

        <activity
            android:name="com.hldj.hmyg.SplashActivity"

            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  android:windowSoftInputMode="adjustPan|stateHidden"-->
        <!--  android:windowSoftInputMode="adjustPan"-->


        <!--android:theme="@style/AppMainTheme"-->
        <activity
            android:name="com.hldj.hmyg.MainActivity"
            android:launchMode="singleTask"

            android:theme="@style/AppMainTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="hldjhmeg" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.jpush.hmeg.main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Ui.MyProgramActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Ui.myProgramChild.ProgramFragment2DetailActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".Ui.myProgramChild.ProgramDirctActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Ui.myProgramChild.ProgramProtocolActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Ui.myProgramChild.ProgramPurchaseActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".Ui.myProgramChild.ProgramPurchaseActivityOnly"
            android:launchMode="singleTask" />

        <activity
            android:name="cn.hugo.android.scanner.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"

            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.hldj.hmyg.AActivity_3_0"
            android:launchMode="singleTask" />

        <activity android:name="com.hldj.hmyg.AActivity_3_0_fast" />
        <activity
            android:name=".Ui.friend.FriendCycleActivity"

            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Ui.friend.child.PushListActivity"

            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Ui.friend.FriendCycleSearchActivity"

            android:windowSoftInputMode="stateVisible|adjustPan" />
        <!---->
        <!-- android:windowSoftInputMode="adjustPan|stateHidden"-->
        <activity android:name=".Ui.friend.child.HeadDetailActivity" />
        <activity android:name=".Ui.friend.child.ReportActivity" />
        <activity android:name=".Ui.friend.child.BeReportActivity" />
        <!-- 来电记录 -->
        <activity android:name=".Ui.friend.child.PhoneLogActivity" />
        <!-- 匹配求购界面 -->
        <activity android:name=".Ui.friend.child.MarchingPurchaseActivity" />
        <activity
            android:name=".Ui.friend.child.DetailActivity"

            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".Ui.friend.child.PublishActivity"

            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Ui.friend.child.CenterActivity"

            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Ui.friend.child.SearchActivity"

            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.hldj.hmyg.BActivity_new"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hldj.hmyg.BActivity_new_test"
            android:launchMode="singleTask" />


        <activity
            android:name="com.hldj.hmyg.WebActivity"
            android:launchMode="standard" />
        <activity
            android:name="com.hldj.hmyg.SeedlingMarketWebActivity"
            android:launchMode="singleTask"></activity>

        <activity
            android:name="com.hldj.hmyg.DActivity_new"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hldj.hmyg.DActivity_new_mp"
            android:launchMode="singleTask" />

        <activity android:name="com.hldj.hmyg.buyer.PurchaseSearchListActivity" />


        <activity android:name=".Ui.Eactivity3_0" />

        <!-- 积分界面 -->
        <activity
            android:name=".Ui.IntegralActivity"
            android:theme="@style/e_activity_theme" />
        <activity android:name=".Ui.InviteFriendActivity" />
        <activity android:name=".Ui.InviteFriendListActivity" />
        <activity android:name=".Ui.IntegralDetailsActivity" />
        <activity android:name=".Ui.ProviderActivity" />
        <activity android:name=".Ui.AuthenticationActivity" />
        <activity android:name=".Ui.QcCodeActivity" />
        <!-- 企业认证 -->
        <activity android:name=".Ui.AuthenticationCompanyActivity" />


        <activity android:name=".Ui.DispatcherActivity" />

        <activity android:name=".Ui.NewsActivity" />
        <activity android:name=".Ui.NoticeActivity" />
        <activity android:name=".Ui.NoticeActivity_detail" />
        <activity android:name="com.hldj.hmyg.SettingActivity" />
        <!--   -->

        <activity android:name="com.hldj.hmyg.SpanActivity" />
        <activity android:name="com.hldj.hmyg.TestPatchActivity" />

        <activity
            android:name="com.hldj.hmyg.SafeAcountActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name="com.hldj.hmyg.StoreActivity" />
        <activity
            android:name="com.hldj.hmyg.Ui.StoreActivity_new"

            android:theme="@style/e_activity_theme" />
        <activity android:name="com.hldj.hmyg.Ui.StoreDetailActivity" />
        <activity android:name="com.hldj.hmyg.store.StoreTypeActivity"></activity>
        <activity
            android:name="com.meinvtupian.album.ImagePagerActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name="com.hldj.hmyg.FlowerDetailActivity"
            android:theme="@style/e_activity_theme" />
        <!--            android:configChanges="keyboardHidden|orientation|screenSize|locale"
-->
        <!--android:theme="@style/e_activity_theme"-->
        <activity
            android:name="com.hldj.hmyg.GalleryImageActivity"

            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.hldj.hmyg.GalleryImageActivity_new"

            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.hldj.hmyg.MessageListActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.jpush.hmeg.message" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MessageListDetailActivity" />

        <activity android:name="com.hldj.hmyg.buyer.Ui.QuoteListActivity_bak" />
        <activity android:name="com.hldj.hmyg.buyer.AddPurchaseActivity"></activity>

        <activity android:name="com.hldj.hmyg.saler.SearchActivity"></activity>


        <!--一轮报价-->
        <activity android:name="com.hldj.hmyg.buyer.Ui.StorePurchaseListActivity" />  <!--一轮报价-->

        <activity android:name="com.hldj.hmyg.buyer.Ui.PartShareActivity" />  <!--一 部分商品 分享 -->

        <!--打包报价-->
        <activity android:name="com.hldj.hmyg.buyer.Ui.StorePurchaseListActivityPackage" />
        <!--打包报价-->

        <!--二轮报价-->
        <activity android:name="com.hldj.hmyg.buyer.Ui.StorePurchaseListActivitySecond" />
        <!--直接进行二轮报价  通过  needPreQuote  判断-->
        <activity android:name="com.hldj.hmyg.buyer.Ui.StorePurchaseListActivityAlongSecond" />
        <activity android:name="com.hldj.hmyg.buyer.Ui.StorePurchaseListActivityHistory" />

        <activity
            android:name=".buyer.Ui.DialogActivity"
            android:theme="@style/dialog_activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".buyer.Ui.LoginOutDialogActivity"
            android:launchMode="singleInstance"
            android:theme="@style/dialog_activity" />
        <activity
            android:name=".buyer.Ui.DialogActivitySecond"
            android:theme="@style/dialog_activity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.hldj.hmyg.buyer.Ui.DialogActivityPackage"

            android:theme="@style/dialog_activity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.hldj.hmyg.buyer.Ui.PurchaseDetailActivity"

            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.hldj.hmyg.buyer.Ui.PurchaseDetailActivityChange"

            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <activity
            android:name="com.hldj.hmyg.FeedBackActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hldj.hmyg.SetProfileActivity"
            android:launchMode="singleTask" />


        <!-- 处理提示-->
        <activity android:name="com.hldj.hmyg.me.HandleTipActivity" />
        <!-- 我的关注 -->
        <activity android:name="com.hldj.hmyg.me.AttentionActivity" />
        <!-- 访客  -->
        <activity android:name="com.hldj.hmyg.me.FootMarkActivity" />
        <!-- 我的粉丝  -->
        <activity android:name="com.hldj.hmyg.me.FansActivity" />
        <!-- be关注 -->
        <activity android:name="com.hldj.hmyg.me.BeAttentionActivity" />
        <!-- 添加联系人 -->
        <activity android:name="com.hldj.hmyg.me.AddContactActivity" />
        <!-- 我的求购 -->
        <activity android:name="com.hldj.hmyg.me.AskToByActivity" />
        <!-- 我的足迹 -->
        <activity android:name="com.hldj.hmyg.me.HistoryActivity" />


        <activity
            android:name="com.hldj.hmyg.SetProfileActivity_new"
            android:launchMode="singleTask" />
        <activity
            android:name="com.hldj.hmyg.SetPasswardActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name="com.hldj.hmyg.SetPasswardByGetCodeActivity" />

        <activity android:name="com.hldj.hmyg.SetPhoneByGetCodeActivity"></activity>


        <!-- 相片界面 -->
        <activity
            android:name="com.zzy.flowers.activity.photoalbum.PhotoActivity"

            android:windowSoftInputMode="adjustUnspecified|adjustResize|stateHidden"></activity>
        <activity
            android:name="com.zzy.flowers.activity.photoalbum.PhotoAlbumActivity"

            android:windowSoftInputMode="adjustUnspecified|adjustResize|stateHidden"></activity>
        <!-- e -->
        <!-- 图片预览编辑界面 -->
        <activity
            android:name="com.zzy.flowers.activity.photoalbum.EditGalleryImageActivity"

            android:windowSoftInputMode="adjustUnspecified|adjustResize|stateHidden"></activity>
        <!-- 选择相片预览界面 -->
        <activity
            android:name="com.hldj.hmyg.saler.ChoosePhotoGalleryActivity"

            android:windowSoftInputMode="adjustUnspecified|adjustResize|stateHidden"></activity>

        <activity android:name="com.hldj.hmyg.saler.SaveSeedlingActivity"></activity>


        <activity android:name="com.hldj.hmyg.saler.SaveSeedlingActivity_change_data" />
        <activity android:name="com.hldj.hmyg.saler.SaveSeedlingActivity_pubsh_quick" />


        <!--android:windowSoftInputMode="adjustUnspecified|stateHidden"-->
        <activity android:name="com.hldj.hmyg.saler.SubscribeManagerListActivity"></activity>
        <activity android:name="com.hldj.hmyg.saler.SubscribeSearchListActivity"></activity>
        <activity
            android:name="com.hldj.hmyg.saler.purchase.PurchasePyMapActivity"

            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name="com.hldj.hmyg.saler.purchase.PurchaseHistoryActivity" />

        <!--用户报价界面  -->
        <activity android:name="com.hldj.hmyg.saler.purchase.userbuy.BuyForUserActivity" />
        <!-- 发布求购 -->
        <activity android:name="com.hldj.hmyg.saler.purchase.userbuy.PublishForUserActivity" />
        <!-- 选择品种界面 -->
        <activity android:name="com.hldj.hmyg.saler.purchase.userbuy.SelectPlantActivity" />
        <activity android:name="com.hldj.hmyg.saler.purchase.userbuy.PublishForUserDetailActivity" />
        <activity android:name="com.hldj.hmyg.saler.purchase.userbuy.PublishForUserListActivity" />
        <!--用户报价界面  -->

        <activity android:name="com.hldj.hmyg.saler.EventsActivity"></activity>
        <activity android:name="com.hldj.hmyg.saler.SavePriceAndCountAndOutlineActivity"></activity>

        <activity android:name="com.hldj.hmyg.saler.StoreSettingActivity"></activity>
        <activity android:name="com.hldj.hmyg.saler.UpdataImageActivity" />
        <activity android:name="com.hldj.hmyg.saler.UpdataImageActivity_bak" />

        <activity
            android:name="com.hldj.hmyg.SellectActivity2"

            android:windowSoftInputMode="adjustPan" />
        <!--stateunspeciedadjustPan-->
        <activity android:name="com.hldj.hmyg.saler.ChooseFirstTypeActivity"></activity>

        <activity android:name="com.hldj.hmyg.saler.Ui.ManagerQuoteListItemDetail" />
        <activity android:name="com.hldj.hmyg.saler.Ui.ManagerQuoteListItemDetail_new" />
        <activity android:name="com.hldj.hmyg.saler.AddAdressActivity" />
        <activity android:name="com.hldj.hmyg.saler.AdressManagerActivity" />
        <activity android:name="com.hldj.hmyg.saler.AdressActivity" />


        <activity
            android:name="com.hldj.hmyg.saler.Ui.ManagerQuoteListActivity_new"
            android:launchMode="singleTask"  android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.hldj.hmyg.saler.StorageSaveActivity"></activity>

        <activity android:name="com.hldj.hmyg.saler.purchaseconfirmlist.ConfirmWebActivity"></activity>


        <activity
            android:name="com.hldj.hmyg.BuyerValidateApplyListActivity"
            android:launchMode="singleTask"></activity>


        <activity
            android:name="com.hldj.hmyg.BuyerListDetailActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name="com.hldj.hmyg.BuyOrderActivity"
            android:launchMode="singleTask"></activity>


        <activity android:name="com.hldj.hmyg.ManagerListActivity_new" />
        <activity android:name="com.hldj.hmyg.ManagerSplitListActivity_new" />
        <!-- 待处理界面 -->
        <activity android:name=".Ui.miaopu.PendingActivity" />
        <activity
            android:name="com.hldj.hmyg.LoginActivity"
            android:theme="@style/AppBaseTheme" />

        <!--              
-->
        <activity android:name="com.hldj.hmyg.RegisterActivity" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="09cd76900b" /> <!-- 09cd76900b -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />
        <!--<meta-data-->
        <!--android:name="BUG_HD_SDK_GENERAL_KEY"-->
        <!--android:value="4e9fef47d1c33625cb0d5495e6856e0a" />  -->
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="4e9fef47d1c33625cb0d5495e6856e0a" />


        <!--<meta-data-->
        <!--android:name="BUG_HD_SDK_GENERAL_KEY"-->
        <!--android:value="ace0b347eac16f0554c65087edef0e12" />-->


        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.hldj.hmyg" />
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.hldj.hmyg" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.hldj.hmyg" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name="com.hldj.hmyg.MyReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.hldj.hmyg" />
            </intent-filter>
        </receiver>
        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="5ea65acf72f09d1fa4664a00" />
        <!--原版  key-->

        <!--android:value="27b97eb500b6ac59f8de2a97" />   luocaca key-->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="21e7d83fc58234f31b5162a8bd78f745" />


        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105449535" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"

            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"></service>

        <activity
            android:name="com.photo.choosephotos.ChooseMorePicsActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>

        <activity
            android:name="com.photo.choosephotos.photoviewer.photoviewerinterface.ImageViewerActivity"

            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.photo.choosephotos.photoviewer.photoviewerinterface.ViewPagerActivity"

            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.photo.choosephotos.photoviewer.photoviewerinterface.ViewPagerDeleteActivity"

            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.photo.choosephotos.photoviewer.photoviewerinterface.ViewPagerBitmapActivity"

            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.photo.choosephotos.photo.PhotoActivity"

            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.photo.choosephotos.photo.PhotoAlbumActivity"

            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="me.imid.swipebacklayout.lib.app.NeedSwipeBackActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name="com.hy.utils.TagActivity" />
        <activity android:name="com.hy.utils.TagViewActivity" />
        <activity android:name="com.hy.utils.FlowTagActivity" />

        <activity android:name=".Ui.jimiao.MiaoNoteListActivity" />
        <activity android:name=".Ui.jimiao.SaveMiaoActivity" />
        <activity android:name=".Ui.jimiao.SellectMiaoActivity" />
        <activity
            android:name=".Ui.jimiao.MiaoDetailActivity"

            android:theme="@style/e_activity_theme" />


        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"

            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <!--视频录制页面的activity-->
        <!--<activity android:name="mabeijianxi.camera.MediaRecorderActivity" />-->
        <activity
            android:name="com.mabeijianxi.smallvideorecord2.MediaRecorderActivity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.mabeijianxi.smallvideo2.VideoPlayerActivity"

            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.mabeijianxi.smallvideo2.VideoPlayerActivity2"

            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.mabeijianxi.smallvideo2.VideoActivity"

            android:theme="@style/FullScreenTheme" />

        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="com.hldj.hmyg.fileProvider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true" />-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hldj.hmyg.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"></meta-data>
        </provider>


    </application>

</manifest>